#tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 620px;
    height: 620px;
}

#azul-a8, #azul-c8 {
    width: 80px;
    height: 80px;
    /* padding: auto; */
    /* border: 1px solid; */
    border-radius: 50%;
    margin: 5px 5px;
    background-color: blue;
    cursor: pointer;
    position: absolute;
}

.pedra-azul {
    width: 80px;
    height: 80px;
    /* padding: auto; */
    /* border: 1px solid; */
    border-radius: 50%;
    margin: 5px 5px;
    background-color: blue;
    cursor: pointer;
    position: absolute;
}

.pedra-vermelha {
    width: 80px;
    height: 80px;
    /* padding: auto; */
    /* border: 1px solid; */
    border-radius: 50%;
    margin: 5px 5px;
    background-color: red;
    cursor: pointer;
    position: absolute;
}